{% extends 'login_base_view.html.twig' %}

     {% block extendbody %}
  
              
              <div class="col-md-12 panel-warning">
                <div class="col-md-4 col-md-offset-4">

                  <div class="login-wrapper">
                    <div class="box">
                      <div class="content-wrap">
                        <h6>Employer Sign In</h6> 
                         <div >
                              {{form_start(db_users_from)}}
                                Enter Email Below:
                               {{ form_row(db_users_from.dbEmail) }}
                               Enter Password Below:
                               {{ form_row(db_users_from.dbPassword) }}
                              {{form_end(db_users_from)}}
                         </div>


                      </div>
                    </div>

                  </div> 
              
                </div> 
              </div>  

  {% endblock %}